@font-face {
  font-family: "Inter";
  src: url("../public/assets/fonts/Inter-Regular.ttf");
}

:root {
  // brand colors
  --c-brand: #4388DD;
  --c-brand-light: #4388DD;

  // font vars
  --font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-family-code: 'Inter', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

  // layout vars
  --navbar-height: 3.6rem;
  --navbar-padding-v: 0.7rem;
  --navbar-padding-h: 1.5rem;
  --sidebar-width: 20rem;
  --sidebar-width-mobile: calc(var(--sidebar-width) * 0.82);
  --content-width: 740px; 
  --homepage-width: 960px;
}
html.dark {
  // brand colors
  --c-brand: #4388DD;
  --c-brand-light: #4388DD;
}
* {
  font-family: 'Inter',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.video_container {
  margin: 0;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.theme-default-content:not(.custom) {
  width: auto;
}
@media screen and (max-width: 419px) {
  .theme-default-content:not(.custom) {
    max-width: auto;
    min-width: auto;
    width: auto;
  }
}
.nav-links .icon.outbound {
  display: none;
}
.nav-links .nav-item a:hover {
  border-bottom: 2px solid #46bd87;
}
@media screen and (max-width: 719px) {
  .navbar a .can-hide {
    display: inline-block;
  }
}
@media (max-width: 719px) {
  .navbar .site-name {
    width: calc(100vw - 13.4rem);
  }
}