$theme-color: #4388dd;
$primary-color: $theme-color;

$bg-color: #060f32;
$text-color: #fff;
$border-color: #34414b;

$navbar-height: 80px;
$navbar-horizontal-padding: 24px;
$navbar-vertical-padding: 16px;

$font-family: 'Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif';
$font-family-heading: "Futura";
