$rightAnchorBgColor: #fff;
$rightAnchorTextColor: #000000;
$rightAnchorFontSize: 14px;
// btn
$rightAnchorBtnTextColor: $rightAnchorTextColor;
$rightAnchorBtnBgColor: $rightAnchorBgColor;
// menu
$rightAnchorMenuTextColor: $rightAnchorTextColor;
$accentColor: #3eaf7c;
$codeBgColor: rgba(127, 127, 127, 0.12);
