// you can change colors here
@font-face {
  font-family: Inter;
  src: url("/assets/fonts/Inter-Regular.ttf");
}

$theme-color: #4388dd;
$font-family: 'Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif';
