$theme-color: #4388dd;
$primary-color: $theme-color;

$bg-color: #060f32;
$bg-color-secondary: #1b2545;
$text-color: #fff;
$border-color: #34414b;
$border-color-dark: #34414b;

$navbar-height: 80px;
$navbar-horizontal-padding: 24px;
$navbar-vertical-padding: 16px;

$font-family: 'Inter', Arial, sans-serif;
$font-family-heading: 'Futura', Arial, sans-serif;
